{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <h1>Lista gatunków</h1>

        <ul>    
            {% for genre in genres %}
                <li><a href="/genres/{{genre.id}}">{{ genre}}</a></li>
            {% endfor %}
        </ul>

    </div>
    <div class="col-md-6">
        {% if request.user.is_superuser %}
            <h1>Dodaj gatunek</h1>

            {% crispy form%}
        {% endif %}
    </div>
</div>

{% endblock %}
