{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load book_utils %}
{% block content %}


<div class="row">
    <div class="col-md-6">
        <h1>Blog</h1>

        {% for post in object_list %}
        <!-- /posts/f/1    albo /posts/c/1 -w zależności od current_page -->
        <h2><a href="/blog/posts/{% if current_page == 'posts_f' %}f{% else %}c{% endif %}/{{ post.id }}">{{ post.title }} (<small>{{ post.body|first_words:5 }})</small></a></h2>
        
        {% endfor %}
        <a href="/blog/posts/{% if current_page == 'posts_f' %}f{% else %}c{% endif %}/add/" class="btn btn-primary">Dodaj post</a>
    </div>
    {% comment %} <div class="col-md-6">
        {% crispy form %}
    </div> {% endcomment %}
</div>


{% endblock %}